@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

/*common*/
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

p + p {
  margin-top: 1em;
}

ul {
  list-style: none;
}

img,
svg {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

/*Form*/
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #11223f;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top-section {
  margin: 0 auto;
  max-width: 1440px;
}
@media screen and (min-width: 1024px) {
  .top-section {
    background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/BackgroundDecor.png);
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 1023px) {
  .top-section {
    background: linear-gradient(180deg, rgba(25, 104, 252, 0.0001) 0%, rgba(25, 104, 252, 0.05) 23.07%, rgba(25, 104, 252, 0.0001) 99.94%, rgba(25, 104, 252, 0.05) 100%);
  }
}

.primary-article {
  display: inline-block;
}
.primary-article__title {
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 200%;
  text-transform: uppercase;
}
.primary-article__line {
  margin-top: 0.625rem;
  display: block;
  width: 80px;
  height: 2px;
  background: #1968fc;
  box-shadow: 0px 2px 0px #d1e1fe;
}

@media screen and (min-width: 1024px) {
  .hide_desktop {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .hide_mobile {
    display: none;
  }
}

.page-header {
  max-width: 1120px;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  .page-header {
    margin: 1.875rem auto 9.375rem;
  }
}
@media screen and (min-width: 1024px) {
  .page-header__row {
    display: flex;
    max-width: 1120px;
    margin: 0 auto;
    align-items: center;
  }
}
.page-header__logo {
  padding-top: 2.5rem;
  padding-left: 5rem;
  padding-bottom: 5rem;
}
@media screen and (min-width: 1024px) {
  .page-header__logo {
    padding: 0;
  }
}
.page-header__navigation {
  flex-grow: 1;
}
@media screen and (max-width: 1023px) {
  .page-header__navigation {
    display: none;
  }
}

.logo {
  display: flex;
  align-items: center;
}
.logo__img {
  margin-right: 0.5625rem;
}
.logo__name {
  font-size: 1.25rem;
  color: #1968fc;
}
@media screen and (min-width: 1024px) {
  .logo__name {
    display: inline-block;
    text-align: center;
  }
}

.navigation__list {
  text-align: right;
}
.navigation__item {
  display: inline-block;
  width: 100%;
  height: 50px;
  max-width: 120px;
  font-size: 0.875rem;
  line-height: 50px;
  font-weight: 600;
  text-align: center;
}
.navigation__item:last-child {
  max-width: 180px;
  margin-right: 1.25rem;
}
.navigation__btn {
  width: 180px;
  height: 50px;
  font-size: 0.875rem;
  line-height: 143%;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background: #1968fc;
  box-shadow: 0px 10px 40px rgba(25, 104, 252, 0.3);
  text-shadow: 0px 10px 40px rgba(25, 104, 252, 0.2);
  margin-left: auto;
}
@media screen and (max-width: 1023px) {
  .navigation__btn {
    display: none;
  }
}

.headline {
  max-width: 1120px;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  .headline {
    position: relative;
    padding-top: 19.375rem;
    margin-bottom: 10rem;
  }
}
.headline__content {
  padding: 0 5rem;
}
@media screen and (min-width: 1024px) {
  .headline__content {
    position: absolute;
    top: 0;
    z-index: 1;
    max-width: 600px;
    padding: 0;
  }
}
.headline__title {
  font-size: 2.5rem;
  line-height: 150%;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 1024px) {
  .headline__title {
    padding-right: 3.125rem;
  }
}
.headline__description {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 200%;
  margin-bottom: 2.5rem;
}
.headline__btn {
  width: 300px;
  height: 50px;
  font-size: 0.875rem;
  line-height: 143%;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  background: #1968fc;
  box-shadow: 0px 10px 40px rgba(25, 104, 252, 0.3);
  margin-bottom: 5rem;
}
.headline__img {
  padding-left: 1.25rem;
  padding-right: 1.3125rem;
}
@media screen and (min-width: 1024px) {
  .headline__img {
    position: absolute;
    top: 50px;
    right: 0;
    padding: 0;
  }
}
.headline__illustration {
  display: block;
  margin-left: auto;
}
.headline__visit-site {
  position: relative;
  top: -62px;
  display: flex;
  padding: 1.875rem 0;
  justify-content: center;
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/PleaseVisitDesktopSiteSectionBackground.png);
}
@media screen and (min-width: 1024px) {
  .headline__visit-site {
    display: none;
  }
}
.headline__visit-site-text {
  display: flex;
  height: 120px;
  max-width: 520px;
  font-size: 1.25rem;
  line-height: 200%;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  align-items: center;
}
.headline__review + .headline__review {
  margin-top: 3.125rem;
}
@media screen and (min-width: 1024px) {
  .headline__review + .headline__review {
    margin-top: 0;
    margin-left: 2.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .headline__review {
    max-width: 540px;
  }
}

.reviews {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 3.125rem;
  transform: translateY(-12px);
  padding-bottom: 108px;
}
@media screen and (min-width: 1024px) {
  .reviews {
    display: flex;
    transform: translateY(0);
    justify-content: center;
    padding: 0;
    margin-bottom: 7.5rem;
  }
}

.review {
  min-height: 280px;
  padding: 2.5rem;
  background-color: #ffffff;
  filter: drop-shadow(0px 20px 60px rgba(25, 104, 252, 0.1));
}
@media screen and (min-width: 1024px) {
  .review:first-child {
    flex-shrink: 1.4;
  }
}
.review__person {
  display: flex;
  flex: 1;
  align-items: center;
  flex-wrap: wrap;
}
.review__avatar {
  margin-right: 1.25rem;
}
.review__content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.review__name {
  font-size: 1.125rem;
  line-height: 167%;
  font-weight: 600;
}
.review__position {
  font-size: 0.875rem;
  line-height: 214%;
  font-weight: 600;
  color: #1967fa;
  opacity: 0.8;
}
.review__icon {
  display: inline-block;
  width: 64px;
  height: 46px;
  align-self: start;
  flex-shrink: 0;
  margin-left: auto;
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/IllustrationQuote.png);
  filter: drop-shadow(1px 5px 8px #f0f2f4);
}
.review__text {
  font-size: 1rem;
  line-height: 187%;
  margin-top: 2.5rem;
}

.how-it-works {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 3.75rem 7.8125rem;
}
@media screen and (min-width: 1024px) {
  .how-it-works {
    padding: 0 0 5rem 0;
    margin-bottom: 7.5rem;
  }
}
.how-it-works__title {
  margin-bottom: 3rem;
}
@media screen and (min-width: 1024px) {
  .how-it-works__title {
    margin-bottom: 2.375rem;
  }
}
@media screen and (min-width: 1024px) {
  .how-it-works__content {
    display: flex;
    justify-content: space-between;
  }
}
.how-it-works__card {
  position: absolute;
}
@media screen and (min-width: 1024px) {
  .how-it-works__card {
    max-width: 320px;
  }
}
.how-it-works__card + .how-it-works__card {
  margin-top: 2.5rem;
}
@media screen and (min-width: 1024px) {
  .how-it-works__card + .how-it-works__card {
    transform: translateY(40px);
    margin-top: 0;
  }
}
@media screen and (min-width: 1024px) {
  .how-it-works__card:last-child {
    transform: translateY(80px);
  }
}
@media screen and (min-width: 1024px) {
  .how-it-works__card:nth-child(1) {
    z-index: 2;
  }
}
@media screen and (min-width: 1024px) {
  .how-it-works__card:nth-child(2) {
    z-index: 1;
  }
}

.line-connector {
  position: absolute;
  top: -38px;
  left: 59.5px;
  width: 1px;
  height: 40px;
  border-left: 2px dashed #1968fc;
}
@media screen and (min-width: 1024px) {
  .line-connector {
    top: 70px;
    left: -75px;
    width: 70px;
    height: 1px;
    border-left: none;
    border-top: 2px dashed #1968fc;
  }
}

.step-card {
  position: relative;
  min-height: 180px;
  padding: 2.5rem;
  background: #ffffff;
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
}
.step-card__description {
  position: relative;
}
.step-card__subtitle {
  font-size: 0.75rem;
  line-height: 167%;
  font-weight: 700;
  text-transform: uppercase;
}
.step-card__title {
  font-size: 1.125rem;
  line-height: 222%;
  font-weight: 700;
  text-transform: uppercase;
  color: #1967fa;
}
.step-card__text {
  font-size: 1rem;
  line-height: 187%;
  font-weight: 400;
  margin-top: 0.625rem;
}
.step-card__image {
  position: absolute;
  top: 0;
  right: 0;
}
.step-card__icon-description {
  position: absolute;
  right: -5px;
  bottom: -5px;
}

.features {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 3.75rem 7.8125rem;
}
@media screen and (min-width: 1024px) {
  .features {
    padding: 0 0 5rem;
    margin-bottom: 120px;
  }
}
.features__title {
  margin-bottom: 3rem;
}
@media screen and (min-width: 1024px) {
  .features__content {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1024px) {
  .features__card {
    max-width: 320px;
  }
}
.features__card + .features__card {
  margin-top: 3.75rem;
}
@media screen and (min-width: 1024px) {
  .features__card + .features__card {
    margin-top: 0;
  }
}
@media screen and (min-width: 1024px) {
  .features__card:nth-child(2) {
    transform: translateY(40px);
  }
}
@media screen and (min-width: 1024px) {
  .features__card:nth-child(3) {
    transform: translateY(80px);
  }
}

.feature {
  position: relative;
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
}
.feature__description {
  display: flex;
  background: #f3f7ff;
  align-items: center;
}
.feature__img {
  max-width: 80px;
  margin-right: 1.25rem;
}
@media screen and (min-width: 1024px) {
  .feature__img {
    max-width: 120px;
  }
}
.feature__tip {
  font-size: 1.25rem;
  line-height: 200%;
  font-weight: 600;
  flex: 1;
}
.feature__text {
  padding: 1.875rem 2.5rem;
  font-size: 1rem;
  line-height: 188%;
  font-weight: 400;
  background: #ffffff;
}
@media screen and (min-width: 1024px) {
  .feature__text {
    padding: 2.5rem;
  }
}
.feature__icon-description {
  position: absolute;
  right: -5px;
  bottom: -5px;
}

.users {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 3.75rem 6.25rem;
}
@media screen and (min-width: 1024px) {
  .users {
    padding: 0;
    margin: 0 10rem 7.5rem;
  }
}
.users__title {
  margin-bottom: 1.125rem;
}
@media screen and (min-width: 1024px) {
  .users__title {
    margin-bottom: 1.875rem;
  }
}
.users__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.users__content {
  margin-top: 20px;
  flex: 0 0 250px;
}
@media screen and (min-width: 1024px) {
  .users__content {
    flex: 0 0 360px;
  }
}

.user {
  padding: 1.25rem;
  background: #ffffff;
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
}
.user__title {
  font-size: 1.25rem;
  line-height: 200%;
  font-weight: 700;
  text-transform: uppercase;
  color: #1967fa;
  margin-bottom: 1.25rem;
}
.user__text {
  font-size: 1rem;
  line-height: 188%;
  font-weight: 400;
  margin-left: 1.25rem;
}

.consultation {
  max-width: 1440px;
  padding: 3.75rem;
  color: #ffffff;
  background-color: #1968fc;
}
@media screen and (min-width: 1024px) {
  .consultation {
    padding: 0;
  }
}
@media screen and (min-width: 1024px) {
  .consultation__content {
    position: relative;
    padding: 5rem 0;
    margin-left: 10rem;
  }
}
.consultation__article {
  margin-bottom: 2.375rem;
}
@media screen and (min-width: 1024px) {
  .consultation__article {
    position: relative;
    z-index: 1;
  }
}
.consultation__title {
  font-weight: 700;
}
.consultation__line {
  background: #ffffff;
  box-shadow: 0px 2px 0px #6a9eff;
}
.consultation__description {
  font-size: 1.25rem;
  line-height: 200%;
  font-weight: 400;
  margin-bottom: 2.5rem;
}
@media screen and (min-width: 1024px) {
  .consultation__description {
    position: relative;
    z-index: 1;
    max-width: 640px;
    padding-right: 1.75rem;
  }
}
.consultation__button {
  width: 320px;
  height: 50px;
  font-size: 0.875rem;
  line-height: 143%;
  font-weight: 700;
  text-transform: uppercase;
  color: #1968fc;
  background: #ffffff;
  box-shadow: 4px 4px 20px rgba(255, 255, 255, 0.4);
}
.consultation__img {
  display: none;
}
@media screen and (min-width: 1024px) {
  .consultation__img {
    position: absolute;
    top: 20px;
    right: 1px;
    display: block;
  }
}

.purposes {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 3.75rem 3.75rem;
}
@media screen and (min-width: 1024px) {
  .purposes {
    padding: 0;
    margin: 0 10rem 5rem;
  }
}
.purposes__title {
  margin-bottom: 2.375rem;
}
@media screen and (min-width: 1024px) {
  .purposes__title {
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .purposes__item {
    flex: 0 1 540px;
    margin-top: 2.5rem;
  }
}
.purposes__item + .purposes__item {
  margin-top: 2.5rem;
}
@media screen and (min-width: 1024px) {
  .purposes__item + .purposes__item {
    margin-top: 2.5rem;
    margin-left: 1.25rem;
  }
}
@media screen and (min-width: 1024px) {
  .purposes__content {
    display: flex;
    justify-content: space-between;
  }
}
.purposes__content + .purposes__content {
  margin-top: 2.5rem;
}
@media screen and (min-width: 1024px) {
  .purposes__content + .purposes__content {
    margin-top: 0;
  }
}

.purpose {
  display: flex;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
}
.purpose__img {
  margin-right: 1.25rem;
}
.purpose__caption {
  font-size: 1.125rem;
  line-height: 222%;
  font-weight: 600;
  flex: 1;
}

.stories {
  max-width: 1120px;
  margin: 0 auto;
  padding: 3.75rem;
}
@media screen and (min-width: 1024px) {
  .stories {
    padding: 7.5rem 0 0 0;
    margin: 0 10rem 0;
  }
}
@media screen and (min-width: 1024px) {
  .stories__container {
    display: flex;
    justify-content: space-between;
  }
}
.stories__title {
  margin-bottom: 2.375rem;
}
@media screen and (min-width: 1024px) {
  .stories__content {
    flex: 0 1 480px;
  }
}
.stories__content + .stories__content {
  margin-top: 2.5rem;
}
@media screen and (min-width: 1024px) {
  .stories__content + .stories__content {
    margin-top: 0;
  }
}

.story-card {
  position: relative;
  padding-left: 3.75rem;
}
.story-card__icon {
  position: absolute;
  top: 4px;
  left: 0;
}
.story-card__question {
  font-size: 1.25rem;
  line-height: 200%;
  font-weight: 600;
  color: #111111;
  margin-bottom: 1.25rem;
}
.story-card__answerer {
  font-size: 1rem;
  line-height: 188%;
  font-weight: 400;
  color: #000000;
}
.story-card__answerer + .story-card__answerer {
  margin-top: 1.875rem;
}

.our-store-decoration {
  display: inline-block;
  text-decoration: underline;
  margin-bottom: 30px;
}
@media screen and (min-width: 1024px) {
  .our-store-decoration {
    margin-bottom: 0;
  }
}

.page-footer {
  max-width: 1120px;
  margin: 0 auto;
  padding-bottom: 5.625rem;
}
@media screen and (min-width: 1024px) {
  .page-footer {
    padding: 7.5rem 0 0;
  }
}
.page-footer__content {
  position: relative;
  display: flex;
  padding: 2.5rem;
  background: #fbfbfb;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .page-footer__content {
    max-width: 1120px;
  }
}
.page-footer__logo {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .page-footer__logo {
    margin-right: 4.375rem;
  }
}
.page-footer__list {
  display: none;
}
@media screen and (min-width: 1024px) {
  .page-footer__list {
    display: flex;
    flex-grow: 1;
  }
}
.page-footer__item {
  text-align: center;
  flex: 0 1 120px;
}
.page-footer__caption {
  width: 200px;
  height: 50px;
  font-size: 0.875rem;
  line-height: 50px;
  font-weight: 600;
  text-align: center;
  color: #1968fc;
  background: rgba(25, 104, 252, 0.05);
}
.page-footer__decoration {
  margin-left: 3.125rem;
}
@media screen and (min-width: 1024px) {
  .page-footer__decoration {
    margin-right: 180px;
  }
}
.page-footer__illustrator {
  position: absolute;
  right: 40px;
  bottom: 0;
  width: 55px;
  height: 60px;
  object-fit: cover;
  filter: drop-shadow(2px 6px 12px rgba(255, 131, 51, 0.3));
}
@media screen and (min-width: 1024px) {
  .page-footer__illustrator {
    right: 0;
    width: 90px;
    height: 100px;
  }
}

.decoration-icons {
  display: flex;
}
.decoration-icons__icon {
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
}
.decoration-icons__icon + .decoration-icons__icon {
  margin-left: 0.1875rem;
}
@media screen and (min-width: 1024px) {
  .decoration-icons__icon + .decoration-icons__icon {
    margin-left: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
