.top-section {
    margin: 0 auto;
    max-width: 1440px;
    @include for-large-up {
        background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/BackgroundDecor.png);
        background-repeat: no-repeat;
    }
    @include for-large-down {
        background: $mobile-background;
    }
}

.primary-article {
    display: inline-block;
    &__title {
        font-weight: $weight-regular;
        font-size: $font-size-largest;
        line-height: 200%;
        text-transform: uppercase;
    }

    &__line {
        margin-top: $spacing-single;
        display: block;
        width: 80px;
        height: 2px;
        background: $color-dark-blue;
        box-shadow: 0px 2px 0px #d1e1fe;
    }
}

.hide_desktop {
    @include for-large-up {
        display: none;
    }
}

.hide_mobile {
    @include for-large-down {
        display: none;
    }
}
