.stories {
    max-width: 1120px;
    margin: 0 auto;
    padding: $spacing-triple * 2;
    @include for-large-up {
        padding: $spacing-double * 6 0 0 0;
        margin: 0 $spacing-big * 2 0;
    }
    &__container {
        @include for-large-up {
            display: flex;
            justify-content: space-between;
        }
    }

    &__title {
        margin-bottom: $spacing-double * 1.9;
    }
    &__content {
        @include for-large-up {
            flex: 0 1 480px;
        }
    }

    &__content + &__content {
        margin-top: $spacing-double * 2;
        @include for-large-up {
            margin-top: 0;
        }
    }
}

.story-card {
    position: relative;
    padding-left: $spacing-triple * 2;

    &__icon {
        position: absolute;
        top: 4px;
        left: 0;
    }

    &__question {
        font-size: $font-size-large;
        line-height: 200%;
        font-weight: $weight-semiBold;
        color: $color-black-secondary;
        margin-bottom: $spacing-double;
    }

    &__answerer {
        font-size: $font-size-base;
        line-height: 188%;
        font-weight: $weight-regular;
        color: $color-black-primary;
    }
    &__answerer + &__answerer {
        margin-top: $spacing-triple;
    }
}
.our-store-decoration {
    display: inline-block;
    text-decoration: underline;
    margin-bottom: 30px;
    @include for-large-up {
        margin-bottom: 0;
    }
}
