.users {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 $spacing-triple * 2 $spacing-double * 5;
    @include for-large-up {
        padding: 0;
        margin: 0 $spacing-big * 2 $spacing-double * 6;
    }
    &__title {
        margin-bottom: $spacing-single * 1.8;
        @include for-large-up {
            margin-bottom: $spacing-single * 3;
        }
    }
    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__content {
        margin-top: 20px;
        flex: 0 0 250px;
        @include for-large-up {
            flex: 0 0 360px;
        }
    }
}

.user {
    padding: $spacing-double;
    background: $color-white;
    box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);

    &__title {
        font-size: $font-size-large;
        line-height: 200%;
        font-weight: $weight-bold;
        text-transform: uppercase;
        color: $color-blue;
        margin-bottom: $spacing-double;
    }

    &__text {
        font-size: $font-size-base;
        line-height: 188%;
        font-weight: $weight-regular;

        margin-left: $spacing-double;
    }
}
