// Цветa
$color-dark-blue: #1968fc;
$color-blue: #1967fa;
$color-light-blue: #1968fc0d;
$color-light-grey: #f3f7ff;
$color-grey: #fbfbfb;
$color-dark: #11223f;
$color-black-primary: #000000;
$color-black-secondary: #111111;
$color-white: #ffffff;

// Цвет фона
$mobile-background: linear-gradient(
    180deg,
    rgba(25, 104, 252, 0.0001) 0%,
    rgba(25, 104, 252, 0.05) 23.07%,
    rgba(25, 104, 252, 0.0001) 99.94%,
    rgba(25, 104, 252, 0.05) 100%
);

// Рамки
// $border-light: solid 1px #0000000d;

// Размер шрифта
$font-size-biggest: 2.5rem;
$font-size-largest: 1.875rem;
$font-size-large: 1.25rem;
$font-size-lg: 1.125rem;
$font-size-base: 1rem;
$font-size-small: 0.875rem;
$font-size-sm: 0.75rem;

// Отступы
$spacing-single: 0.625rem;
$spacing-small: $spacing-single * 0.2;
$spacing-double: $spacing-single * 2;
$spacing-triple: $spacing-single * 3;
$spacing-quadruple: $spacing-single * 4;
$spacing-big: $spacing-single * 8;

// Шрифты
$sans-serif: "Mulish", sans-serif;
$sans-serif2: "Muli", sans-serif;

//Начертание шрифта
$weight-bold: 700;
$weight-semiBold: 600;
$weight-regular: 400;

// Анимация
$anime-in: 0.4s;
$anime-out: 0.5s;
